In [1]:
import pandas as pd

In [2]:
# import data
df = pd.read_csv('./ACSDT5Y2024.B15003-Data.csv')
df.head(3)

,GEO_ID,NAME,B15003_001E,B15003_001M,B15003_002E,B15003_002M,B15003_003E,B15003_003M,B15003_004E,B15003_004M,...,B15003_021M,B15003_022E,B15003_022M,B15003_023E,B15003_023M,B15003_024E,B15003_024M,B15003_025E,B15003_025M,Unnamed: 52
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!No schooling completed,Margin of Error!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Margin of Error!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Margin of Error!!Total:!!Kindergarten,...,Margin of Error!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Margin of Error!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Margin of Error!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Margin of Error!!Total:!!Professional school d...,Estimate!!Total:!!Doctorate degree,Margin of Error!!Total:!!Doctorate degree,NaN
1,0500000US06075,"San Francisco County, California",661758,151,24987,1584,375,182,583,304,...,1536,231394,3924,110101,2689,33281,1940,24520,1044,NaN
2,1400000US06075010101,Census Tract 101.01; San Francisco County; Cal...,1689,212,63,67,0,14,0,14,...,40,843,242,164,88,11,18,103,81,NaN

In [3]:
# drop the first column
df = df.drop(df.columns[0], axis=1)
df.head(3)

,NAME,B15003_001E,B15003_001M,B15003_002E,B15003_002M,B15003_003E,B15003_003M,B15003_004E,B15003_004M,B15003_005E,...,B15003_021M,B15003_022E,B15003_022M,B15003_023E,B15003_023M,B15003_024E,B15003_024M,B15003_025E,B15003_025M,Unnamed: 52
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!No schooling completed,Margin of Error!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Margin of Error!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Margin of Error!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,...,Margin of Error!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Margin of Error!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Margin of Error!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Margin of Error!!Total:!!Professional school d...,Estimate!!Total:!!Doctorate degree,Margin of Error!!Total:!!Doctorate degree,NaN
1,"San Francisco County, California",661758,151,24987,1584,375,182,583,304,392,...,1536,231394,3924,110101,2689,33281,1940,24520,1044,NaN
2,Census Tract 101.01; San Francisco County; Cal...,1689,212,63,67,0,14,0,14,0,...,40,843,242,164,88,11,18,103,81,NaN

In [4]:
# change NAME to Area
df = df.rename(columns={'NAME': 'Area'})
df.head(3)

,Area,B15003_001E,B15003_001M,B15003_002E,B15003_002M,B15003_003E,B15003_003M,B15003_004E,B15003_004M,B15003_005E,...,B15003_021M,B15003_022E,B15003_022M,B15003_023E,B15003_023M,B15003_024E,B15003_024M,B15003_025E,B15003_025M,Unnamed: 52
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!No schooling completed,Margin of Error!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Margin of Error!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Margin of Error!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,...,Margin of Error!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Margin of Error!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Margin of Error!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Margin of Error!!Total:!!Professional school d...,Estimate!!Total:!!Doctorate degree,Margin of Error!!Total:!!Doctorate degree,NaN
1,"San Francisco County, California",661758,151,24987,1584,375,182,583,304,392,...,1536,231394,3924,110101,2689,33281,1940,24520,1044,NaN
2,Census Tract 101.01; San Francisco County; Cal...,1689,212,63,67,0,14,0,14,0,...,40,843,242,164,88,11,18,103,81,NaN

In [5]:
# drop the margin columns
df = df[df.columns.drop(list(df.filter(regex='M')))]
df.head(3)

,Area,B15003_001E,B15003_002E,B15003_003E,B15003_004E,B15003_005E,B15003_006E,B15003_007E,B15003_008E,B15003_009E,...,B15003_017E,B15003_018E,B15003_019E,B15003_020E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,Unnamed: 52
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,Estimate!!Total:!!2nd grade,Estimate!!Total:!!3rd grade,Estimate!!Total:!!4th grade,Estimate!!Total:!!5th grade,...,Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more year...",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree,NaN
1,"San Francisco County, California",661758,24987,375,583,392,1326,1693,961,2816,...,64028,10564,21546,57968,35419,231394,110101,33281,24520,NaN
2,Census Tract 101.01; San Francisco County; Cal...,1689,63,0,0,0,43,42,0,10,...,23,12,165,129,47,843,164,11,103,NaN

In [6]:
# drop the last column, the header is NaN
df = df.drop(df.columns[-1], axis=1)
df.head(3)

,Area,B15003_001E,B15003_002E,B15003_003E,B15003_004E,B15003_005E,B15003_006E,B15003_007E,B15003_008E,B15003_009E,...,B15003_016E,B15003_017E,B15003_018E,B15003_019E,B15003_020E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,Estimate!!Total:!!2nd grade,Estimate!!Total:!!3rd grade,Estimate!!Total:!!4th grade,Estimate!!Total:!!5th grade,...,"Estimate!!Total:!!12th grade, no diploma",Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more year...",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree
1,"San Francisco County, California",661758,24987,375,583,392,1326,1693,961,2816,...,13329,64028,10564,21546,57968,35419,231394,110101,33281,24520
2,Census Tract 101.01; San Francisco County; Cal...,1689,63,0,0,0,43,42,0,10,...,19,23,12,165,129,47,843,164,11,103

In [7]:
# rename columns
column_mapping = {}
for i, col in enumerate(df.columns):
    if i < len(df.iloc[0]):  # Make sure we don't go out of bounds
        column_mapping[col] = df.iloc[0, i]

df = df.rename(columns=column_mapping)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,Estimate!!Total:!!2nd grade,Estimate!!Total:!!3rd grade,Estimate!!Total:!!4th grade,Estimate!!Total:!!5th grade,...,"Estimate!!Total:!!12th grade, no diploma",Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more years, no degree",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,Estimate!!Total:!!2nd grade,Estimate!!Total:!!3rd grade,Estimate!!Total:!!4th grade,Estimate!!Total:!!5th grade,...,"Estimate!!Total:!!12th grade, no diploma",Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more year...",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree
1,"San Francisco County, California",661758,24987,375,583,392,1326,1693,961,2816,...,13329,64028,10564,21546,57968,35419,231394,110101,33281,24520
2,Census Tract 101.01; San Francisco County; Cal...,1689,63,0,0,0,43,42,0,10,...,19,23,12,165,129,47,843,164,11,103

In [8]:
# remove the first row
df = df.drop(df.index[0])  
df = df.reset_index(drop=True)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,Estimate!!Total:!!2nd grade,Estimate!!Total:!!3rd grade,Estimate!!Total:!!4th grade,Estimate!!Total:!!5th grade,...,"Estimate!!Total:!!12th grade, no diploma",Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more years, no degree",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree
0,"San Francisco County, California",661758,24987,375,583,392,1326,1693,961,2816,...,13329,64028,10564,21546,57968,35419,231394,110101,33281,24520
1,Census Tract 101.01; San Francisco County; Cal...,1689,63,0,0,0,43,42,0,10,...,19,23,12,165,129,47,843,164,11,103
2,Census Tract 101.02; San Francisco County; Cal...,1529,133,0,0,0,0,8,0,0,...,19,150,37,41,196,132,382,274,113,15

In [9]:
# change Geographic Area Name to Area
df = df.rename(columns={'Geographic Area Name': 'Area'})
df.head(3)

,Area,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,Estimate!!Total:!!2nd grade,Estimate!!Total:!!3rd grade,Estimate!!Total:!!4th grade,Estimate!!Total:!!5th grade,...,"Estimate!!Total:!!12th grade, no diploma",Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more years, no degree",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree
0,"San Francisco County, California",661758,24987,375,583,392,1326,1693,961,2816,...,13329,64028,10564,21546,57968,35419,231394,110101,33281,24520
1,Census Tract 101.01; San Francisco County; Cal...,1689,63,0,0,0,43,42,0,10,...,19,23,12,165,129,47,843,164,11,103
2,Census Tract 101.02; San Francisco County; Cal...,1529,133,0,0,0,0,8,0,0,...,19,150,37,41,196,132,382,274,113,15

In [10]:
# drop the first row again
df = df.drop(df.index[0])  
df = df.reset_index(drop=True)
df.head(3)

,Area,Estimate!!Total:,Estimate!!Total:!!No schooling completed,Estimate!!Total:!!Nursery school,Estimate!!Total:!!Kindergarten,Estimate!!Total:!!1st grade,Estimate!!Total:!!2nd grade,Estimate!!Total:!!3rd grade,Estimate!!Total:!!4th grade,Estimate!!Total:!!5th grade,...,"Estimate!!Total:!!12th grade, no diploma",Estimate!!Total:!!Regular high school diploma,Estimate!!Total:!!GED or alternative credential,"Estimate!!Total:!!Some college, less than 1 year","Estimate!!Total:!!Some college, 1 or more years, no degree",Estimate!!Total:!!Associate's degree,Estimate!!Total:!!Bachelor's degree,Estimate!!Total:!!Master's degree,Estimate!!Total:!!Professional school degree,Estimate!!Total:!!Doctorate degree
0,Census Tract 101.01; San Francisco County; Cal...,1689,63,0,0,0,43,42,0,10,...,19,23,12,165,129,47,843,164,11,103
1,Census Tract 101.02; San Francisco County; Cal...,1529,133,0,0,0,0,8,0,0,...,19,150,37,41,196,132,382,274,113,15
2,Census Tract 102.01; San Francisco County; Cal...,2240,5,0,0,0,0,0,0,0,...,7,67,0,61,263,79,892,659,82,84

In [11]:
# get rid of Estimate!!Total: in column names
df.columns = df.columns.str.replace('Estimate!!Total:!!', '', regex=False)
df.head()

,Area,Estimate!!Total:,No schooling completed,Nursery school,Kindergarten,1st grade,2nd grade,3rd grade,4th grade,5th grade,...,"12th grade, no diploma",Regular high school diploma,GED or alternative credential,"Some college, less than 1 year","Some college, 1 or more years, no degree",Associate's degree,Bachelor's degree,Master's degree,Professional school degree,Doctorate degree
0,Census Tract 101.01; San Francisco County; Cal...,1689,63,0,0,0,43,42,0,10,...,19,23,12,165,129,47,843,164,11,103
1,Census Tract 101.02; San Francisco County; Cal...,1529,133,0,0,0,0,8,0,0,...,19,150,37,41,196,132,382,274,113,15
2,Census Tract 102.01; San Francisco County; Cal...,2240,5,0,0,0,0,0,0,0,...,7,67,0,61,263,79,892,659,82,84
3,Census Tract 102.02; San Francisco County; Cal...,1567,10,0,0,0,0,0,0,0,...,1,22,0,51,107,7,749,504,115,1
4,Census Tract 103; San Francisco County; Califo...,3360,47,69,0,0,0,0,0,0,...,36,155,0,37,174,110,1526,670,232,239

In [12]:
# only keep numbers for the area column
df['Area'] = df['Area'].str.replace(r'.*Census Tract\s+', '', regex=True)  # remove everything before tract number
df['Area'] = df['Area'].str.replace(r';.*', '', regex=True)  # remove everything after semicolon
df['Area'] = df['Area'].str.strip()  # remove any extra whitespace
df.head(3)

,Area,Estimate!!Total:,No schooling completed,Nursery school,Kindergarten,1st grade,2nd grade,3rd grade,4th grade,5th grade,...,"12th grade, no diploma",Regular high school diploma,GED or alternative credential,"Some college, less than 1 year","Some college, 1 or more years, no degree",Associate's degree,Bachelor's degree,Master's degree,Professional school degree,Doctorate degree
0,101.01,1689,63,0,0,0,43,42,0,10,...,19,23,12,165,129,47,843,164,11,103
1,101.02,1529,133,0,0,0,0,8,0,0,...,19,150,37,41,196,132,382,274,113,15
2,102.01,2240,5,0,0,0,0,0,0,0,...,7,67,0,61,263,79,892,659,82,84

In [13]:
# Less than high school
df['Less_than_High_School'] = df[['No schooling completed', 'Nursery school', 'Kindergarten', '1st grade', '2nd grade', '3rd grade', '4th grade', '5th grade', '7th grade', '8th grade', '9th grade', '10th grade', '11th grade', '12th grade, no diploma']].apply(pd.to_numeric, errors='coerce').sum(axis=1) 

# High school or equivalent
df['High_School_or_Equivalent'] = df[['Regular high school diploma', 'GED or alternative credential']].apply(pd.to_numeric, errors='coerce').sum(axis=1) 

# Some college, no degree
df['Some_College_No_Degree'] = df[['Some college, less than 1 year', 'Some college, 1 or more years, no degree']].apply(pd.to_numeric, errors='coerce').sum(axis=1)

# Bachelor's or associate's degree
df['Bachelors_or_Associates'] = df[['Associate\'s degree', 'Bachelor\'s degree']].apply(pd.to_numeric, errors='coerce').sum(axis=1)

# Masters's or professional's degree
df['Masters_or_Professional'] = df[['Master\'s degree', 'Professional school degree']].apply(pd.to_numeric, errors='coerce').sum(axis=1)

# Doctorate degree
df['Doctorate'] = df[['Doctorate degree']].apply(pd.to_numeric, errors='coerce').sum(axis=1) 

df = df[['Area', 'Estimate!!Total:', 'Less_than_High_School', 'High_School_or_Equivalent', 'Some_College_No_Degree', 'Bachelors_or_Associates', 'Masters_or_Professional', 'Doctorate']]
df.head(3)

,Area,Estimate!!Total:,Less_than_High_School,High_School_or_Equivalent,Some_College_No_Degree,Bachelors_or_Associates,Masters_or_Professional,Doctorate
0,101.01,1689,192,35,294,890,175,103
1,101.02,1529,189,187,237,514,387,15
2,102.01,2240,53,67,324,971,741,84

In [14]:
# change Estimate!!Total: to Total
df = df.rename(columns={'Estimate!!Total:': 'Total'})
df.head(3)

,Area,Total,Less_than_High_School,High_School_or_Equivalent,Some_College_No_Degree,Bachelors_or_Associates,Masters_or_Professional,Doctorate
0,101.01,1689,192,35,294,890,175,103
1,101.02,1529,189,187,237,514,387,15
2,102.01,2240,53,67,324,971,741,84

In [15]:
# convert numeric columns to proper data types
numeric_columns = ['Total', 'Less_than_High_School', 'High_School_or_Equivalent', 'Some_College_No_Degree', 'Bachelors_or_Associates', 'Masters_or_Professional', 'Doctorate']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'less than high school': df.set_index('Area')['Less_than_High_School'].to_dict(),
    'high school or equivalent': df.set_index('Area')['High_School_or_Equivalent'].to_dict(), 
    'some college, no degree': df.set_index('Area')['Some_College_No_Degree'].to_dict(),
    'bachelor\'s or associate\'s degree': df.set_index('Area')['Bachelors_or_Associates'].to_dict(),
    'masters\'s or professional\'s degree': df.set_index('Area')['Masters_or_Professional'].to_dict(),
    'doctorate': df.set_index('Area')['Doctorate'].to_dict(),
    'total': df.set_index('Area')['Total'].to_dict()
}

# convert to JSON and save to file
import json

with open('../../data/education.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'education.json'")

JSON file saved as 'education.json'