In [16]:
import pandas as pd

In [17]:
# import data
df = pd.read_csv('/Users/agneslu/Desktop/neighborhood-data/data-new/age/ACSDP5Y2023.DP05-Data.csv')

In [18]:
df.head(3)

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0090PM,DP05_0091PE,DP05_0091PM,DP05_0092PE,DP05_0092PM,DP05_0093PE,DP05_0093PM,DP05_0094PE,DP05_0094PM,Unnamed: 378
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN
1,1400000US06075010101,Census Tract 101.01; San Francisco County; Cal...,2004,297,1077,173,927,187,116.2,23.6,...,2.9,(X),(X),1468,(X),58.4,6.3,41.6,6.3,NaN
2,1400000US06075010102,Census Tract 101.02; San Francisco County; Cal...,1795,345,786,172,1009,285,77.9,27.4,...,1.9,(X),(X),1425,(X),43.1,7.6,56.9,7.6,NaN

In [19]:
# drop the first column
df = df.drop(df.columns[0], axis=1)
df.head(3)

,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,DP05_0005E,...,DP05_0090PM,DP05_0091PE,DP05_0091PM,DP05_0092PE,DP05_0092PM,DP05_0093PE,DP05_0093PM,DP05_0094PE,DP05_0094PM,Unnamed: 378
0,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Under...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,297,1077,173,927,187,116.2,23.6,62,...,2.9,(X),(X),1468,(X),58.4,6.3,41.6,6.3,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,345,786,172,1009,285,77.9,27.4,45,...,1.9,(X),(X),1425,(X),43.1,7.6,56.9,7.6,NaN

In [20]:
# change NAME to Area
df = df.rename(columns={'NAME': 'Area'})
df.head(3)

,Area,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,DP05_0005E,...,DP05_0090PM,DP05_0091PE,DP05_0091PM,DP05_0092PE,DP05_0092PM,DP05_0093PE,DP05_0093PM,DP05_0094PE,DP05_0094PM,Unnamed: 378
0,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Under...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,297,1077,173,927,187,116.2,23.6,62,...,2.9,(X),(X),1468,(X),58.4,6.3,41.6,6.3,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,345,786,172,1009,285,77.9,27.4,45,...,1.9,(X),(X),1425,(X),43.1,7.6,56.9,7.6,NaN

In [21]:
# drop the margin columns
df = df[df.columns.drop(list(df.filter(regex='M')))]
df.head(3)

,Area,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0004E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,...,DP05_0086PE,DP05_0087PE,DP05_0088PE,DP05_0089PE,DP05_0090PE,DP05_0091PE,DP05_0092PE,DP05_0093PE,DP05_0094PE,Unnamed: 378
0,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex r...,Estimate!!SEX AND AGE!!Total population!!Under...,Estimate!!SEX AND AGE!!Total population!!5 to ...,Estimate!!SEX AND AGE!!Total population!!10 to...,Estimate!!SEX AND AGE!!Total population!!15 to...,Estimate!!SEX AND AGE!!Total population!!20 to...,...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...",NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,1077,927,116.2,62,21,0,133,46,...,0.0,2.3,2.9,0.0,2.9,(X),1468,58.4,41.6,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,786,1009,77.9,45,46,79,97,109,...,0.9,0.0,2.5,0.0,2.5,(X),1425,43.1,56.9,NaN

In [22]:
# drop the last column, the header is NaN
df = df.drop(df.columns[-1], axis=1)
df.head(3)

,Area,DP05_0001E,DP05_0002E,DP05_0003E,DP05_0004E,DP05_0005E,DP05_0006E,DP05_0007E,DP05_0008E,DP05_0009E,...,DP05_0085PE,DP05_0086PE,DP05_0087PE,DP05_0088PE,DP05_0089PE,DP05_0090PE,DP05_0091PE,DP05_0092PE,DP05_0093PE,DP05_0094PE
0,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex r...,Estimate!!SEX AND AGE!!Total population!!Under...,Estimate!!SEX AND AGE!!Total population!!5 to ...,Estimate!!SEX AND AGE!!Total population!!10 to...,Estimate!!SEX AND AGE!!Total population!!15 to...,Estimate!!SEX AND AGE!!Total population!!20 to...,...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz..."
1,Census Tract 101.01; San Francisco County; Cal...,2004,1077,927,116.2,62,21,0,133,46,...,30.3,0.0,2.3,2.9,0.0,2.9,(X),1468,58.4,41.6
2,Census Tract 101.02; San Francisco County; Cal...,1795,786,1009,77.9,45,46,79,97,109,...,42.7,0.9,0.0,2.5,0.0,2.5,(X),1425,43.1,56.9

In [23]:
# rename columns
column_mapping = {}
for i, col in enumerate(df.columns):
    if i < len(df.iloc[0]):  # Make sure we don't go out of bounds
        column_mapping[col] = df.iloc[0, i]

df = df.rename(columns=column_mapping)
df.head(3)

,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!Under 5 years,Estimate!!SEX AND AGE!!Total population!!5 to 9 years,Estimate!!SEX AND AGE!!Total population!!10 to 14 years,Estimate!!SEX AND AGE!!Total population!!15 to 19 years,Estimate!!SEX AND AGE!!Total population!!20 to 24 years,...,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race,"Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races",Percent!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female"
0,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex r...,Estimate!!SEX AND AGE!!Total population!!Under...,Estimate!!SEX AND AGE!!Total population!!5 to ...,Estimate!!SEX AND AGE!!Total population!!10 to...,Estimate!!SEX AND AGE!!Total population!!15 to...,Estimate!!SEX AND AGE!!Total population!!20 to...,...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!HISPANIC OR LATINO AND RACE!!Total po...,Percent!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz..."
1,Census Tract 101.01; San Francisco County; Cal...,2004,1077,927,116.2,62,21,0,133,46,...,30.3,0.0,2.3,2.9,0.0,2.9,(X),1468,58.4,41.6
2,Census Tract 101.02; San Francisco County; Cal...,1795,786,1009,77.9,45,46,79,97,109,...,42.7,0.9,0.0,2.5,0.0,2.5,(X),1425,43.1,56.9

In [24]:
# remove the first row
df = df.drop(df.index[0])  
df = df.reset_index(drop=True)
df.head(3)

,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!Under 5 years,Estimate!!SEX AND AGE!!Total population!!5 to 9 years,Estimate!!SEX AND AGE!!Total population!!10 to 14 years,Estimate!!SEX AND AGE!!Total population!!15 to 19 years,Estimate!!SEX AND AGE!!Total population!!20 to 24 years,...,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race,"Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races",Percent!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female"
0,Census Tract 101.01; San Francisco County; Cal...,2004,1077,927,116.2,62,21,0,133,46,...,30.3,0.0,2.3,2.9,0.0,2.9,(X),1468,58.4,41.6
1,Census Tract 101.02; San Francisco County; Cal...,1795,786,1009,77.9,45,46,79,97,109,...,42.7,0.9,0.0,2.5,0.0,2.5,(X),1425,43.1,56.9
2,Census Tract 102.01; San Francisco County; Cal...,2608,1325,1283,103.3,56,48,57,68,149,...,7.9,0.0,0.0,7.5,0.3,7.1,(X),2126,50.1,49.9

In [25]:
# change Geographic Area Name to Area
df = df.rename(columns={'Geographic Area Name': 'Area'})

In [26]:
# print all column names
print(df.columns.tolist())

['Area', 'Estimate!!SEX AND AGE!!Total population', 'Estimate!!SEX AND AGE!!Total population!!Male', 'Estimate!!SEX AND AGE!!Total population!!Female', 'Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)', 'Estimate!!SEX AND AGE!!Total population!!Under 5 years', 'Estimate!!SEX AND AGE!!Total population!!5 to 9 years', 'Estimate!!SEX AND AGE!!Total population!!10 to 14 years', 'Estimate!!SEX AND AGE!!Total population!!15 to 19 years', 'Estimate!!SEX AND AGE!!Total population!!20 to 24 years', 'Estimate!!SEX AND AGE!!Total population!!25 to 34 years', 'Estimate!!SEX AND AGE!!Total population!!35 to 44 years', 'Estimate!!SEX AND AGE!!Total population!!45 to 54 years', 'Estimate!!SEX AND AGE!!Total population!!55 to 59 years', 'Estimate!!SEX AND AGE!!Total population!!60 to 64 years', 'Estimate!!SEX AND AGE!!Total population!!65 to 74 years', 'Estimate!!SEX AND AGE!!Total population!!75 to 84 years', 'Estimate!!SEX AND AGE!!Total population!!85 years and over', 'Estimate!!SEX AND AGE!!Total population!!Median age (years)', 'Estimate!!SEX AND AGE!!Total population!!Under 18 years', 'Estimate!!SEX AND AGE!!Total population!!16 years and over', 'Estimate!!SEX AND AGE!!Total population!!18 years and over', 'Estimate!!SEX AND AGE!!Total population!!21 years and over', 'Estimate!!SEX AND AGE!!Total population!!62 years and over', 'Estimate!!SEX AND AGE!!Total population!!65 years and over', 'Estimate!!SEX AND AGE!!Total population!!18 years and over', 'Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male', 'Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female', 'Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)', 'Estimate!!SEX AND AGE!!Total population!!65 years and over', 'Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male', 'Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female', 'Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)', 'Estimate!!RACE!!Total population', 'Estimate!!RACE!!Total population!!One race', 'Estimate!!RACE!!Total population!!Two or More Races', 'Estimate!!RACE!!Total population!!One race', 'Estimate!!RACE!!Total population!!One race!!White', 'Estimate!!RACE!!Total population!!One race!!Black or African American', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Aztec', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Blackfeet Tribe of the Blackfeet Indian Reservation of Montana', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Maya', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Native Village of Barrow Inupiat Traditional Government', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo Nation', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Nome Eskimo Community', 'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Other American Indian and Alaska Native', 'Estimate!!RACE!!Total population!!One race!!Asian', 'Estimate!!RACE!!Total population!!One race!!Asian!!Asian Indian', 'Estimate!!RACE!!Total population!!One race!!Asian!!Chinese', 'Estimate!!RACE!!Total population!!One race!!Asian!!Filipino', 'Estimate!!RACE!!Total population!!One race!!Asian!!Japanese', 'Estimate!!RACE!!Total population!!One race!!Asian!!Korean', 'Estimate!!RACE!!Total population!!One race!!Asian!!Vietnamese', 'Estimate!!RACE!!Total population!!One race!!Asian!!Other Asian', 'Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander', 'Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Chamorro', 'Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian', 'Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan', 'Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Native Hawaiian and Other Pacific Islander', 'Estimate!!RACE!!Total population!!One race!!Some Other Race', 'Estimate!!RACE!!Total population!!Two or More Races', 'Estimate!!RACE!!Total population!!Two or More Races!!White and Black or African American', 'Estimate!!RACE!!Total population!!Two or More Races!!White and American Indian and Alaska Native', 'Estimate!!RACE!!Total population!!Two or More Races!!White and Asian', 'Estimate!!RACE!!Total population!!Two or More Races!!White and Some Other Race', 'Estimate!!RACE!!Total population!!Two or More Races!!Black or African American and American Indian and Alaska Native', 'Estimate!!RACE!!Total population!!Two or More Races!!Black or African American and Some Other Race', 'Estimate!!Race alone or in combination with one or more other races!!Total population', 'Estimate!!Race alone or in combination with one or more other races!!Total population!!White', 'Estimate!!Race alone or in combination with one or more other races!!Total population!!Black or African American', 'Estimate!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native', 'Estimate!!Race alone or in combination with one or more other races!!Total population!!Asian', 'Estimate!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander', 'Estimate!!Race alone or in combination with one or more other races!!Total population!!Some Other Race', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race', 'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races', 'Estimate!!Total housing units', 'Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population', 'Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male', 'Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female', 'Percent!!SEX AND AGE!!Total population', 'Percent!!SEX AND AGE!!Total population!!Male', 'Percent!!SEX AND AGE!!Total population!!Female', 'Percent!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)', 'Percent!!SEX AND AGE!!Total population!!Under 5 years', 'Percent!!SEX AND AGE!!Total population!!5 to 9 years', 'Percent!!SEX AND AGE!!Total population!!10 to 14 years', 'Percent!!SEX AND AGE!!Total population!!15 to 19 years', 'Percent!!SEX AND AGE!!Total population!!20 to 24 years', 'Percent!!SEX AND AGE!!Total population!!25 to 34 years', 'Percent!!SEX AND AGE!!Total population!!35 to 44 years', 'Percent!!SEX AND AGE!!Total population!!45 to 54 years', 'Percent!!SEX AND AGE!!Total population!!55 to 59 years', 'Percent!!SEX AND AGE!!Total population!!60 to 64 years', 'Percent!!SEX AND AGE!!Total population!!65 to 74 years', 'Percent!!SEX AND AGE!!Total population!!75 to 84 years', 'Percent!!SEX AND AGE!!Total population!!85 years and over', 'Percent!!SEX AND AGE!!Total population!!Median age (years)', 'Percent!!SEX AND AGE!!Total population!!Under 18 years', 'Percent!!SEX AND AGE!!Total population!!16 years and over', 'Percent!!SEX AND AGE!!Total population!!18 years and over', 'Percent!!SEX AND AGE!!Total population!!21 years and over', 'Percent!!SEX AND AGE!!Total population!!62 years and over', 'Percent!!SEX AND AGE!!Total population!!65 years and over', 'Percent!!SEX AND AGE!!Total population!!18 years and over', 'Percent!!SEX AND AGE!!Total population!!18 years and over!!Male', 'Percent!!SEX AND AGE!!Total population!!18 years and over!!Female', 'Percent!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)', 'Percent!!SEX AND AGE!!Total population!!65 years and over', 'Percent!!SEX AND AGE!!Total population!!65 years and over!!Male', 'Percent!!SEX AND AGE!!Total population!!65 years and over!!Female', 'Percent!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)', 'Percent!!RACE!!Total population', 'Percent!!RACE!!Total population!!One race', 'Percent!!RACE!!Total population!!Two or More Races', 'Percent!!RACE!!Total population!!One race', 'Percent!!RACE!!Total population!!One race!!White', 'Percent!!RACE!!Total population!!One race!!Black or African American', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Aztec', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Blackfeet Tribe of the Blackfeet Indian Reservation of Montana', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Maya', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Native Village of Barrow Inupiat Traditional Government', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo Nation', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Nome Eskimo Community', 'Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Other American Indian and Alaska Native', 'Percent!!RACE!!Total population!!One race!!Asian', 'Percent!!RACE!!Total population!!One race!!Asian!!Asian Indian', 'Percent!!RACE!!Total population!!One race!!Asian!!Chinese', 'Percent!!RACE!!Total population!!One race!!Asian!!Filipino', 'Percent!!RACE!!Total population!!One race!!Asian!!Japanese', 'Percent!!RACE!!Total population!!One race!!Asian!!Korean', 'Percent!!RACE!!Total population!!One race!!Asian!!Vietnamese', 'Percent!!RACE!!Total population!!One race!!Asian!!Other Asian', 'Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander', 'Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Chamorro', 'Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian', 'Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan', 'Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Native Hawaiian and Other Pacific Islander', 'Percent!!RACE!!Total population!!One race!!Some Other Race', 'Percent!!RACE!!Total population!!Two or More Races', 'Percent!!RACE!!Total population!!Two or More Races!!White and Black or African American', 'Percent!!RACE!!Total population!!Two or More Races!!White and American Indian and Alaska Native', 'Percent!!RACE!!Total population!!Two or More Races!!White and Asian', 'Percent!!RACE!!Total population!!Two or More Races!!White and Some Other Race', 'Percent!!RACE!!Total population!!Two or More Races!!Black or African American and American Indian and Alaska Native', 'Percent!!RACE!!Total population!!Two or More Races!!Black or African American and Some Other Race', 'Percent!!Race alone or in combination with one or more other races!!Total population', 'Percent!!Race alone or in combination with one or more other races!!Total population!!White', 'Percent!!Race alone or in combination with one or more other races!!Total population!!Black or African American', 'Percent!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native', 'Percent!!Race alone or in combination with one or more other races!!Total population!!Asian', 'Percent!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander', 'Percent!!Race alone or in combination with one or more other races!!Total population!!Some Other Race', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some Other Race alone', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races including Some Other Race', 'Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or More Races!!Two races excluding Some Other Race, and three or more races', 'Percent!!Total housing units', 'Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population', 'Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male', 'Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female']

In [27]:
# rename columns
df = df.rename(columns={
    'Estimate!!SEX AND AGE!!Total population!!Under 5 years': 'Under 5 years',
    'Estimate!!SEX AND AGE!!Total population!!5 to 9 years': '5 to 9 years',
    'Estimate!!SEX AND AGE!!Total population!!10 to 14 years': '10 to 14 years',
    'Estimate!!SEX AND AGE!!Total population!!15 to 19 years': '15 to 19 years',
    'Estimate!!SEX AND AGE!!Total population!!20 to 24 years': '20 to 24 years',
    'Estimate!!SEX AND AGE!!Total population!!25 to 34 years': '25 to 34 years',
    'Estimate!!SEX AND AGE!!Total population!!35 to 44 years': '35 to 44 years',
    'Estimate!!SEX AND AGE!!Total population!!45 to 54 years': '45 to 54 years',
    'Estimate!!SEX AND AGE!!Total population!!55 to 59 years': '55 to 59 years',
    'Estimate!!SEX AND AGE!!Total population!!60 to 64 years': '60 to 64 years',
    'Estimate!!SEX AND AGE!!Total population!!65 to 74 years': '65 to 74 years',
    'Estimate!!SEX AND AGE!!Total population!!75 to 84 years': '75 to 84 years',
    'Estimate!!SEX AND AGE!!Total population!!85 years and over': '85 years and over',
})
# only keep the columns we want 
df = df[['Area', 'Under 5 years', '5 to 9 years', '10 to 14 years', '15 to 19 years', 
         '20 to 24 years', '25 to 34 years', '35 to 44 years', 
         '45 to 54 years', '55 to 59 years', '60 to 64 years', 
         '65 to 74 years', '75 to 84 years', '85 years and over']]
df.head(3)

,Area,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,Census Tract 101.01; San Francisco County; Cal...,62,21,0,133,46,441,519,230,156,0,182,119,95
1,Census Tract 101.02; San Francisco County; Cal...,45,46,79,97,109,244,401,124,142,138,160,48,162
2,Census Tract 102.01; San Francisco County; Cal...,56,48,57,68,149,886,307,289,113,198,247,184,6

In [28]:
# only keep numbers for the area column
df['Area'] = df['Area'].str.replace(r'.*Census Tract\s+', '', regex=True)  # remove everything before tract number
df['Area'] = df['Area'].str.replace(r';.*', '', regex=True)  # remove everything after semicolon
df['Area'] = df['Area'].str.strip()  # remove any extra whitespace
df

,Area,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,101.01,62,21,0,133,46,441,519,230,156,0,182,119,95
1,101.02,45,46,79,97,109,244,401,124,142,138,160,48,162
2,102.01,56,48,57,68,149,886,307,289,113,198,247,184,6
3,102.02,60,33,0,63,32,522,257,349,20,71,113,165,76
4,103,102,57,0,46,131,1087,383,604,202,205,661,262,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,9805.01,0,0,0,0,4,5,0,0,0,0,32,75,39
240,9806,138,70,99,26,53,317,169,219,98,23,40,38,0
241,9809,31,0,11,0,15,96,51,73,0,25,8,12,0
242,9901,0,0,0,0,0,0,0,0,0,0,0,0,0
243,9902,0,0,0,0,0,0,0,0,0,0,0,0,0

In [34]:
# combine age groups
df['5 to 19 years'] = df[['5 to 9 years', '10 to 14 years', '15 to 19 years']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['20 to 34 years'] = df[['20 to 24 years', '25 to 34 years']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['35 to 59 years'] = df[['35 to 44 years', '45 to 54 years', '55 to 59 years']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['60 to 74 years'] = df[['60 to 64 years', '65 to 74 years']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['75 plus'] = df[['75 to 84 years', '85 years and over']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df.head(3)
# only keep the columns we want
df = df[['Area', 'Under 5 years', '5 to 19 years', '20 to 34 years', 
         '35 to 59 years', '60 to 74 years', '75 plus']]
df.head(3)

,Area,Under 5 years,5 to 19 years,20 to 34 years,35 to 59 years,60 to 74 years,75 plus
0,101.01,62,154,487,905,182,214
1,101.02,45,222,353,667,298,210
2,102.01,56,173,1035,709,445,190

In [36]:
# rename the columns to make them more readable
df = df.rename(columns={
    'Under 5 years': 'Under 5',
    '5 to 19 years': '5 to 19',
    '20 to 34 years': '20 to 34',
    '35 to 59 years': '35 to 59',
    '60 to 74 years': '60 to 74',
    '75 plus': '75 plus'
})
df.head(3)

     Area Under 5  5 to 19  20 to 34  35 to 59  60 to 74  75 plus
0  101.01      62      154       487       905       182      214
1  101.02      45      222       353       667       298      210
2  102.01      56      173      1035       709       445      190

In [37]:
# get total
df['Total'] = df[['Under 5', '5 to 19', '20 to 34', '35 to 59', '60 to 74', '75 plus']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df.head()

     Area Under 5  5 to 19  20 to 34  35 to 59  60 to 74  75 plus  Total
0  101.01      62      154       487       905       182      214   2004
1  101.02      45      222       353       667       298      210   1795
2  102.01      56      173      1035       709       445      190   2608
3  102.02      60       96       554       626       184      241   1761
4     103     102      103      1218      1189       866      313   3791

In [38]:
# convert numeric columns to proper data types
numeric_columns = ['Under 5', '5 to 19', '20 to 34', '35 to 59', '60 to 74', '75 plus', 'Total']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'under 5': df.set_index('Area')['Under 5'].to_dict(),
    '5 to 19': df.set_index('Area')['5 to 19'].to_dict(), 
    '20 to 34': df.set_index('Area')['20 to 34'].to_dict(),
    '35 to 59': df.set_index('Area')['35 to 59'].to_dict(),
    '60 to 74': df.set_index('Area')['60 to 74'].to_dict(),
    '75 plus': df.set_index('Area')['60 to 74'].to_dict(),
    'total': df.set_index('Area')['Total'].to_dict()
}

# convert to JSON and save to file
import json

with open('/Users/agneslu/Desktop/neighborhood-data/data-new/age.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'age.json'")

JSON file saved as 'age.json'