# Sales Tax Inflation Adjustment

1. Adjusts all the years after 2019 for inflation with 2019 as the baseline
2. Brings data into graphing format
    - If you just want to graph, jump to the graphing section and run.

In [1]:
import pandas as pd
import cpi
from datetime import date

#pd.set_option('display.max_rows', 1000) 
#pd.set_option('display.max_columns', 1000)
#pd.set_option("display.max_colwidth", None)

In [2]:
cpi.update()

/Users/anushasubramanian/.pyenv/versions/3.12.7/lib/python3.12/site-packages/cpi/download.py:175: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.StringIO(response.text), sep="\t")
/Users/anushasubramanian/.pyenv/versions/3.12.7/lib/python3.12/site-packages/cpi/download.py:175: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.StringIO(response.text), sep="\t")
/Users/anushasubramanian/.pyenv/versions/3.12.7/lib/python3.12/site-packages/cpi/download.py:175: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.StringIO(response.text), sep="\t")
/Users/anushasubramanian/.pyenv/versions/3.12.7/lib/python3.12/site-packages/cpi/download.py:175: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.StringIO(response.text), sep="\t")

In [3]:
sales_tax = pd.read_csv("master_sales_tax.csv")
sales_tax.head()

,area,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,...,2023Q2,2023Q3,2023Q4,2024Q1,2024Q2,2024Q3,2024Q4,2025Q1,2025Q2,2025Q3
0,Bayview Hunters Point,"2,949,031.40","3,397,922.89","3,603,746.60","3,238,831.70","2,241,349.19","2,740,673.05","2,996,372.25","2,427,499.44","2,352,774.84",...,"3,403,331.12","3,029,022.22","2,864,026.23","2,745,924.81","2,844,217.82","2,716,935.92","2,595,644.36","2,478,447.38","2,708,224.49","2,665,197.19"
1,Excelsior,"162,835.22","173,095.90","172,197.92","171,801.77","87,953.81","153,933.73","149,643.62","132,061.91","120,643.99",...,"171,111.24","179,666.64","169,838.76","180,944.16","176,310.07","161,839.91","188,303.48","169,124.62","191,093.01","173,582.37"
2,Inner Richmond,"630,450.66","691,382.42","711,369.32","695,014.63","428,198.37","586,447.57","571,489.97","565,201.38","588,913.38",...,"747,266.48","566,469.16","822,087.23","744,301.13","736,352.73","732,650.39","824,655.79","738,803.23","824,032.52","775,941.83"
3,Mission,"3,551,567.39","3,731,289.83","3,923,585.21","4,010,635.39","2,090,562.46","2,587,014.51","2,835,961.27","2,474,197.20","2,670,713.91",...,"3,559,128.70","3,625,164.93","4,076,960.77","3,150,897.14","3,440,265.90","3,477,672.92","3,544,461.01","3,679,348.86","3,616,643.17","3,582,094.16"
4,Outer Richmond,"534,103.93","558,399.57","567,121.06","596,952.85","245,585.50","417,351.96","367,783.31","321,298.85","322,539.45",...,"506,680.07","486,359.39","477,861.17","481,623.74","487,395.57","462,539.85","481,224.57","470,583.98","465,639.07","489,745.73"

In [5]:
sales_tax["area"].value_counts()

area
Bayview Hunters Point    1
Excelsior                1
Inner Richmond           1
Mission                  1
Outer Richmond           1
Sunset-Parkside          1
Tenderloin               1
Name: count, dtype: int64

In [7]:
sales_tax.columns = sales_tax.columns.str.strip()

In [11]:
quarter_columns = [column for column in sales_tax.columns if column.startswith(('2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025'))]

# Convert all quarter columns to numeric and removes commas
for column in quarter_columns:
    sales_tax[column] = sales_tax[column].str.replace(",","")
    sales_tax[column] = pd.to_numeric(sales_tax[column])

In [13]:
sales_tax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    7 non-null      object
 1   2019Q1  7 non-null      float64
 2   2019Q2  7 non-null      float64
 3   2019Q3  7 non-null      float64
 4   2019Q4  7 non-null      float64
 5   2020Q1  7 non-null      float64
 6   2020Q2  7 non-null      float64
 7   2020Q3  7 non-null      float64
 8   2020Q4  7 non-null      float64
 9   2021Q1  7 non-null      float64
 10  2021Q2  7 non-null      float64
 11  2021Q3  7 non-null      float64
 12  2021Q4  7 non-null      float64
 13  2022Q1  7 non-null      float64
 14  2022Q2  7 non-null      float64
 15  2022Q3  7 non-null      float64
 16  2022Q4  7 non-null      float64
 17  2023Q1  7 non-null      float64
 18  2023Q2  7 non-null      float64
 19  2023Q3  7 non-null      float64
 20  2023Q4  7 non-null      float64
 21  2024Q1  7 non-null      float64
 22  2024Q2  7 non-null      float64
 23  2024Q3  7 non-null      float64
 24  2024Q4  7 non-null      float64
 25  2025Q1  7 non-null      float64
 26  2025Q2  7 non-null      float64
 27  2025Q3  7 non-null      float64
dtypes: float64(27), object(1)
memory usage: 1.7+ KB

In [14]:
sales_tax.head()

,area,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,...,2023Q2,2023Q3,2023Q4,2024Q1,2024Q2,2024Q3,2024Q4,2025Q1,2025Q2,2025Q3
0,Bayview Hunters Point,2949031.40,3397922.89,3603746.60,3238831.70,2241349.19,2740673.05,2996372.25,2427499.44,2352774.84,...,3403331.12,3029022.22,2864026.23,2745924.81,2844217.82,2716935.92,2595644.36,2478447.38,2708224.49,2665197.19
1,Excelsior,162835.22,173095.90,172197.92,171801.77,87953.81,153933.73,149643.62,132061.91,120643.99,...,171111.24,179666.64,169838.76,180944.16,176310.07,161839.91,188303.48,169124.62,191093.01,173582.37
2,Inner Richmond,630450.66,691382.42,711369.32,695014.63,428198.37,586447.57,571489.97,565201.38,588913.38,...,747266.48,566469.16,822087.23,744301.13,736352.73,732650.39,824655.79,738803.23,824032.52,775941.83
3,Mission,3551567.39,3731289.83,3923585.21,4010635.39,2090562.46,2587014.51,2835961.27,2474197.20,2670713.91,...,3559128.70,3625164.93,4076960.77,3150897.14,3440265.90,3477672.92,3544461.01,3679348.86,3616643.17,3582094.16
4,Outer Richmond,534103.93,558399.57,567121.06,596952.85,245585.50,417351.96,367783.31,321298.85,322539.45,...,506680.07,486359.39,477861.17,481623.74,487395.57,462539.85,481224.57,470583.98,465639.07,489745.73

In [15]:
quarter_to_month = {1: 3, 2: 6, 3: 9, 4: 12}

for column in quarter_columns:
    year = int(column[:4]) # output will be like "2018" 
    quarter = int(column[5]) # output will be like "2" 
    month = quarter_to_month[quarter] 
    
    # Create new column with 'adj_' prefix
    # Adjust to the SAME quarter but in 2019 
    sales_tax[f'adj_{column}'] = sales_tax[column].apply(lambda x: cpi.inflate(x, date(year, month, 28), to=date(2019, month, 28)))

In [18]:
sales_tax_adj = sales_tax

In [20]:
sales_tax.head()

,area,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,...,adj_2023Q2,adj_2023Q3,adj_2023Q4,adj_2024Q1,adj_2024Q2,adj_2024Q3,adj_2024Q4,adj_2025Q1,adj_2025Q2,adj_2025Q3
0,Bayview Hunters Point,2949031.40,3397922.89,3603746.60,3238831.70,2241349.19,2740673.05,2996372.25,2427499.44,2352774.84,...,2.857141e+06,2.526824e+06,2.399315e+06,2.234864e+06,2.318856e+06,2.212482e+06,2.113443e+06,1.970070e+06,2.150578e+06,2.106876e+06
1,Excelsior,162835.22,173095.90,172197.92,171801.77,87953.81,153933.73,149643.62,132061.91,120643.99,...,1.436501e+05,1.498787e+05,1.422811e+05,1.472675e+05,1.437434e+05,1.317911e+05,1.533217e+05,1.344339e+05,1.517454e+05,1.372193e+05
2,Inner Richmond,630450.66,691382.42,711369.32,695014.63,428198.37,586447.57,571489.97,565201.38,588913.38,...,6.273400e+05,4.725512e+05,6.886970e+05,6.057747e+05,6.003393e+05,5.966190e+05,6.714567e+05,5.872603e+05,6.543574e+05,6.133930e+05
3,Mission,3551567.39,3731289.83,3923585.21,4010635.39,2090562.46,2587014.51,2835961.27,2474197.20,2670713.91,...,2.987935e+06,3.024129e+06,3.415441e+06,2.564465e+06,2.804806e+06,2.831973e+06,2.885995e+06,2.924643e+06,2.871946e+06,2.831696e+06
4,Outer Richmond,534103.93,558399.57,567121.06,596952.85,245585.50,417351.96,367783.31,321298.85,322539.45,...,4.253646e+05,4.057232e+05,4.003244e+05,3.919858e+05,3.973676e+05,3.766600e+05,3.918259e+05,3.740580e+05,3.697601e+05,3.871509e+05

In [21]:
sales_tax_adj = sales_tax[["area"] +
                           [column for column in sales_tax.columns if column.startswith('adj')]]

In [22]:
sales_tax_adj.head()

,area,adj_2019Q1,adj_2019Q2,adj_2019Q3,adj_2019Q4,adj_2020Q1,adj_2020Q2,adj_2020Q3,adj_2020Q4,adj_2021Q1,...,adj_2023Q2,adj_2023Q3,adj_2023Q4,adj_2024Q1,adj_2024Q2,adj_2024Q3,adj_2024Q4,adj_2025Q1,adj_2025Q2,adj_2025Q3
0,Bayview Hunters Point,2949031.40,3397922.89,3603746.60,3238831.70,2.207371e+06,2.723089e+06,2.955838e+06,2.394881e+06,2.257954e+06,...,2.857141e+06,2.526824e+06,2.399315e+06,2.234864e+06,2.318856e+06,2.212482e+06,2.113443e+06,1.970070e+06,2.150578e+06,2.106876e+06
1,Excelsior,162835.22,173095.90,172197.92,171801.77,8.662044e+04,1.529461e+05,1.476193e+05,1.302874e+05,1.157818e+05,...,1.436501e+05,1.498787e+05,1.422811e+05,1.472675e+05,1.437434e+05,1.317911e+05,1.533217e+05,1.344339e+05,1.517454e+05,1.372193e+05
2,Inner Richmond,630450.66,691382.42,711369.32,695014.63,4.217069e+05,5.826850e+05,5.637590e+05,5.576067e+05,5.651792e+05,...,6.273400e+05,4.725512e+05,6.886970e+05,6.057747e+05,6.003393e+05,5.966190e+05,6.714567e+05,5.872603e+05,6.543574e+05,6.133930e+05
3,Mission,3551567.39,3731289.83,3923585.21,4010635.39,2.058870e+06,2.570416e+06,2.797597e+06,2.440951e+06,2.563080e+06,...,2.987935e+06,3.024129e+06,3.415441e+06,2.564465e+06,2.804806e+06,2.831973e+06,2.885995e+06,2.924643e+06,2.871946e+06,2.831696e+06
4,Outer Richmond,534103.93,558399.57,567121.06,596952.85,2.418624e+05,4.146743e+05,3.628080e+05,3.169815e+05,3.095406e+05,...,4.253646e+05,4.057232e+05,4.003244e+05,3.919858e+05,3.973676e+05,3.766600e+05,3.918259e+05,3.740580e+05,3.697601e+05,3.871509e+05

## Recovery Percentage

In [2]:
pwd

'/Users/anushasubramanian/Desktop/Mission_Local/2026-neighborhood-maps/sales-tax'

###### !!! Make sure to change the code to calculate the recovery percentage for the most recent quarter. Both in the current year and the comparison quarter to 2019 !!!

In [13]:
#### CHANGE ADJ_COLUMN TO THE MOST RECENT QUARTER ###
# For example when Q4 data is released it needs to be rewritten with adj_2025Q4 and adj_2019Q4

# manually set 
latest_quarter = 'adj_2025Q3'
baseline_quarter = 'adj_2019Q3'

sales_tax_adj['latest_quarter'] = '2025Q3'  # for display on map
sales_tax_adj['baseline_quarter'] = '2019Q3'  # for display on map

In [14]:
# Calculate recovery
sales_tax_adj["recovery_pct"] = ((sales_tax_adj[latest_quarter] - sales_tax_adj[baseline_quarter]) / sales_tax_adj[baseline_quarter]) * 100

In [15]:
sales_tax_adj

,area,adj_2019Q1,adj_2019Q2,adj_2019Q3,adj_2019Q4,adj_2020Q1,adj_2020Q2,adj_2020Q3,adj_2020Q4,adj_2021Q1,...,adj_2024Q1,adj_2024Q2,adj_2024Q3,adj_2024Q4,adj_2025Q1,adj_2025Q2,adj_2025Q3,recovery_pct,latest_quarter,baseline_quarter
0,Bayview Hunters Point,2949031.40,3397922.89,3603746.60,3238831.70,2.207371e+06,2.723089e+06,2.955838e+06,2.394881e+06,2.257954e+06,...,2.234864e+06,2.318856e+06,2.212482e+06,2.113443e+06,1.970070e+06,2.150578e+06,2.106876e+06,-41.536507,2025Q3,2019Q3
1,Excelsior,162835.22,173095.90,172197.92,171801.77,8.662044e+04,1.529461e+05,1.476193e+05,1.302874e+05,1.157818e+05,...,1.472675e+05,1.437434e+05,1.317911e+05,1.533217e+05,1.344339e+05,1.517454e+05,1.372193e+05,-20.313020,2025Q3,2019Q3
2,Inner Richmond,630450.66,691382.42,711369.32,695014.63,4.217069e+05,5.826850e+05,5.637590e+05,5.576067e+05,5.651792e+05,...,6.057747e+05,6.003393e+05,5.966190e+05,6.714567e+05,5.872603e+05,6.543574e+05,6.133930e+05,-13.772918,2025Q3,2019Q3
3,Mission,3551567.39,3731289.83,3923585.21,4010635.39,2.058870e+06,2.570416e+06,2.797597e+06,2.440951e+06,2.563080e+06,...,2.564465e+06,2.804806e+06,2.831973e+06,2.885995e+06,2.924643e+06,2.871946e+06,2.831696e+06,-27.828860,2025Q3,2019Q3
4,Outer Richmond,534103.93,558399.57,567121.06,596952.85,2.418624e+05,4.146743e+05,3.628080e+05,3.169815e+05,3.095406e+05,...,3.919858e+05,3.973676e+05,3.766600e+05,3.918259e+05,3.740580e+05,3.697601e+05,3.871509e+05,-31.733987,2025Q3,2019Q3
5,Sunset-Parkside,823591.72,766165.91,743125.87,792780.84,3.907975e+05,6.943154e+05,6.541208e+05,5.770916e+05,5.387613e+05,...,7.112549e+05,7.030066e+05,7.077597e+05,6.981485e+05,6.607422e+05,6.917190e+05,6.927275e+05,-6.781942,2025Q3,2019Q3
6,Tenderloin,2129438.95,2655256.68,2120191.41,1562631.89,1.108613e+06,7.562480e+05,5.862045e+05,4.487793e+05,5.610142e+05,...,9.553353e+05,1.994373e+06,8.459500e+05,8.054206e+05,1.708463e+06,1.237094e+06,8.765749e+05,-58.655859,2025Q3,2019Q3

In [16]:
sales_tax_adj.to_csv("adjusted_sales_tax.csv", index = False)

## DEPRECATED Graph formatting

In [24]:
sales_tax_adj["area"].value_counts()

area
Bayview Hunters Point    1
Excelsior                1
Inner Richmond           1
Mission                  1
Outer Richmond           1
Sunset-Parkside          1
Tenderloin               1
Name: count, dtype: int64

In [25]:
sales_tax_adj = pd.read_csv("adjusted_sales_tax.csv")
sales_tax_adj.head()

,area,adj_2019Q1,adj_2019Q2,adj_2019Q3,adj_2019Q4,adj_2020Q1,adj_2020Q2,adj_2020Q3,adj_2020Q4,adj_2021Q1,...,adj_2023Q2,adj_2023Q3,adj_2023Q4,adj_2024Q1,adj_2024Q2,adj_2024Q3,adj_2024Q4,adj_2025Q1,adj_2025Q2,adj_2025Q3
0,Bayview Hunters Point,2949031.40,3397922.89,3603746.60,3238831.70,2.207371e+06,2.723089e+06,2.955838e+06,2.394881e+06,2.257954e+06,...,2.857141e+06,2.526824e+06,2.399315e+06,2.234864e+06,2.318856e+06,2.212482e+06,2.113443e+06,1.970070e+06,2.150578e+06,2.106876e+06
1,Excelsior,162835.22,173095.90,172197.92,171801.77,8.662044e+04,1.529461e+05,1.476193e+05,1.302874e+05,1.157818e+05,...,1.436501e+05,1.498787e+05,1.422811e+05,1.472675e+05,1.437434e+05,1.317911e+05,1.533217e+05,1.344339e+05,1.517454e+05,1.372193e+05
2,Inner Richmond,630450.66,691382.42,711369.32,695014.63,4.217069e+05,5.826850e+05,5.637590e+05,5.576067e+05,5.651792e+05,...,6.273400e+05,4.725512e+05,6.886970e+05,6.057747e+05,6.003393e+05,5.966190e+05,6.714567e+05,5.872603e+05,6.543574e+05,6.133930e+05
3,Mission,3551567.39,3731289.83,3923585.21,4010635.39,2.058870e+06,2.570416e+06,2.797597e+06,2.440951e+06,2.563080e+06,...,2.987935e+06,3.024129e+06,3.415441e+06,2.564465e+06,2.804806e+06,2.831973e+06,2.885995e+06,2.924643e+06,2.871946e+06,2.831696e+06
4,Outer Richmond,534103.93,558399.57,567121.06,596952.85,2.418624e+05,4.146743e+05,3.628080e+05,3.169815e+05,3.095406e+05,...,4.253646e+05,4.057232e+05,4.003244e+05,3.919858e+05,3.973676e+05,3.766600e+05,3.918259e+05,3.740580e+05,3.697601e+05,3.871509e+05

In [26]:
def graph(neighborhood_name):
    
    """
    Take the name of the neighborhood and return a formatted dataframe
    
    """
    
    viz_df = sales_tax_adj[sales_tax_adj["area"] == neighborhood_name]
    viz_df = viz_df.drop(columns = ["area"])
    viz_df.columns = viz_df.columns.str.replace('adj_', '').str.replace('Q', ' Q')
    
    return viz_df

In [27]:
graph("Mission")

,2019 Q1,2019 Q2,2019 Q3,2019 Q4,2020 Q1,2020 Q2,2020 Q3,2020 Q4,2021 Q1,2021 Q2,...,2023 Q2,2023 Q3,2023 Q4,2024 Q1,2024 Q2,2024 Q3,2024 Q4,2025 Q1,2025 Q2,2025 Q3
3,3551567.39,3731289.83,3923585.21,4010635.39,2.058870e+06,2.570416e+06,2.797597e+06,2.440951e+06,2.563080e+06,3.164659e+06,...,2.987935e+06,3.024129e+06,3.415441e+06,2.564465e+06,2.804806e+06,2.831973e+06,2.885995e+06,2.924643e+06,2.871946e+06,2.831696e+06

In [ ]:
mission = graph("Mission")

sunset = graph("Sunset")

richmond = graph("Richmond")

bayview = graph("Bayview")

excelsior = graph("Excelsior")

tenderloin = graph("Tenderloin")

In [ ]:
mission.to_clipboard(index=False)

In [ ]:
sunset.to_clipboard(index=False)

In [ ]:
richmond.to_clipboard(index=False)

In [ ]:
bayview.to_clipboard(index=False)

In [ ]:
excelsior.to_clipboard(index=False)

In [ ]:
tenderloin.to_clipboard(index=False)