In [3]:
import pandas as pd

In [4]:
# import data
df = pd.read_csv('/Users/agneslu/Desktop/neighborhood-data/data-new/race/ACSDT5Y2023.B03002-Data.csv')
df.head(3)

,GEO_ID,NAME,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,...,B03002_017M,B03002_018E,B03002_018M,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,Unnamed: 44
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Margin of Error!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!Whi...,Margin of Error!!Total:!!Not Hispanic or Latin...,Estimate!!Total:!!Not Hispanic or Latino:!!Bla...,Margin of Error!!Total:!!Not Hispanic or Latin...,...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Some ot...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,NaN
1,1400000US06075010101,Census Tract 101.01; San Francisco County; Cal...,2004,297,1668,283,770,143,132,166,...,70,102,111,108,104,64,66,44,81,NaN
2,1400000US06075010102,Census Tract 101.02; San Francisco County; Cal...,1795,345,1702,327,554,145,322,271,...,14,76,119,9,16,9,16,0,14,NaN

In [5]:
# drop the first column
df = df.drop(df.columns[0], axis=1)
df.head(3)

,NAME,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,...,B03002_017M,B03002_018E,B03002_018M,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,Unnamed: 44
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Margin of Error!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!Whi...,Margin of Error!!Total:!!Not Hispanic or Latin...,Estimate!!Total:!!Not Hispanic or Latino:!!Bla...,Margin of Error!!Total:!!Not Hispanic or Latin...,Estimate!!Total:!!Not Hispanic or Latino:!!Ame...,...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Some ot...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,297,1668,283,770,143,132,166,52,...,70,102,111,108,104,64,66,44,81,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,345,1702,327,554,145,322,271,0,...,14,76,119,9,16,9,16,0,14,NaN

In [6]:
# change NAME to Area
df = df.rename(columns={'NAME': 'Area'})
df.head(3)

,Area,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,...,B03002_017M,B03002_018E,B03002_018M,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,Unnamed: 44
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Margin of Error!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!Whi...,Margin of Error!!Total:!!Not Hispanic or Latin...,Estimate!!Total:!!Not Hispanic or Latino:!!Bla...,Margin of Error!!Total:!!Not Hispanic or Latin...,Estimate!!Total:!!Not Hispanic or Latino:!!Ame...,...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Some ot...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Margin of Error!!Total:!!Hispanic or Latino:!!...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,297,1668,283,770,143,132,166,52,...,70,102,111,108,104,64,66,44,81,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,345,1702,327,554,145,322,271,0,...,14,76,119,9,16,9,16,0,14,NaN

In [7]:
# drop the margin columns
df = df[df.columns.drop(list(df.filter(regex='M')))]
df.head(3)

,Area,B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_005E,B03002_006E,B03002_007E,B03002_008E,B03002_009E,...,B03002_013E,B03002_014E,B03002_015E,B03002_016E,B03002_017E,B03002_018E,B03002_019E,B03002_020E,B03002_021E,Unnamed: 44
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!Whi...,Estimate!!Total:!!Not Hispanic or Latino:!!Bla...,Estimate!!Total:!!Not Hispanic or Latino:!!Ame...,Estimate!!Total:!!Not Hispanic or Latino:!!Asi...,Estimate!!Total:!!Not Hispanic or Latino:!!Nat...,Estimate!!Total:!!Not Hispanic or Latino:!!Som...,Estimate!!Total:!!Not Hispanic or Latino:!!Two...,...,Estimate!!Total:!!Hispanic or Latino:!!White a...,Estimate!!Total:!!Hispanic or Latino:!!Black o...,Estimate!!Total:!!Hispanic or Latino:!!America...,Estimate!!Total:!!Hispanic or Latino:!!Asian a...,Estimate!!Total:!!Hispanic or Latino:!!Native ...,Estimate!!Total:!!Hispanic or Latino:!!Some ot...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,1668,770,132,52,608,0,47,59,...,65,0,15,0,46,102,108,64,44,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,1702,554,322,0,766,16,0,44,...,8,0,0,0,0,76,9,9,0,NaN

In [8]:
# drop the last column, the header is NaN
df = df.drop(df.columns[-1], axis=1)
df.head(3)

,Area,B03002_001E,B03002_002E,B03002_003E,B03002_004E,B03002_005E,B03002_006E,B03002_007E,B03002_008E,B03002_009E,...,B03002_012E,B03002_013E,B03002_014E,B03002_015E,B03002_016E,B03002_017E,B03002_018E,B03002_019E,B03002_020E,B03002_021E
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!Whi...,Estimate!!Total:!!Not Hispanic or Latino:!!Bla...,Estimate!!Total:!!Not Hispanic or Latino:!!Ame...,Estimate!!Total:!!Not Hispanic or Latino:!!Asi...,Estimate!!Total:!!Not Hispanic or Latino:!!Nat...,Estimate!!Total:!!Not Hispanic or Latino:!!Som...,Estimate!!Total:!!Not Hispanic or Latino:!!Two...,...,Estimate!!Total:!!Hispanic or Latino:,Estimate!!Total:!!Hispanic or Latino:!!White a...,Estimate!!Total:!!Hispanic or Latino:!!Black o...,Estimate!!Total:!!Hispanic or Latino:!!America...,Estimate!!Total:!!Hispanic or Latino:!!Asian a...,Estimate!!Total:!!Hispanic or Latino:!!Native ...,Estimate!!Total:!!Hispanic or Latino:!!Some ot...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...
1,Census Tract 101.01; San Francisco County; Cal...,2004,1668,770,132,52,608,0,47,59,...,336,65,0,15,0,46,102,108,64,44
2,Census Tract 101.02; San Francisco County; Cal...,1795,1702,554,322,0,766,16,0,44,...,93,8,0,0,0,0,76,9,9,0

In [9]:
# rename columns
column_mapping = {}
for i, col in enumerate(df.columns):
    if i < len(df.iloc[0]):  # Make sure we don't go out of bounds
        column_mapping[col] = df.iloc[0, i]

df = df.rename(columns=column_mapping)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!White alone,Estimate!!Total:!!Not Hispanic or Latino:!!Black or African American alone,Estimate!!Total:!!Not Hispanic or Latino:!!American Indian and Alaska Native alone,Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone,Estimate!!Total:!!Not Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total:!!Not Hispanic or Latino:!!Some other race alone,Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:,...,Estimate!!Total:!!Hispanic or Latino:,Estimate!!Total:!!Hispanic or Latino:!!White alone,Estimate!!Total:!!Hispanic or Latino:!!Black or African American alone,Estimate!!Total:!!Hispanic or Latino:!!American Indian and Alaska Native alone,Estimate!!Total:!!Hispanic or Latino:!!Asian alone,Estimate!!Total:!!Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total:!!Hispanic or Latino:!!Some other race alone,Estimate!!Total:!!Hispanic or Latino:!!Two or more races:,Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races including Some other race,"Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races"
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!Whi...,Estimate!!Total:!!Not Hispanic or Latino:!!Bla...,Estimate!!Total:!!Not Hispanic or Latino:!!Ame...,Estimate!!Total:!!Not Hispanic or Latino:!!Asi...,Estimate!!Total:!!Not Hispanic or Latino:!!Nat...,Estimate!!Total:!!Not Hispanic or Latino:!!Som...,Estimate!!Total:!!Not Hispanic or Latino:!!Two...,...,Estimate!!Total:!!Hispanic or Latino:,Estimate!!Total:!!Hispanic or Latino:!!White a...,Estimate!!Total:!!Hispanic or Latino:!!Black o...,Estimate!!Total:!!Hispanic or Latino:!!America...,Estimate!!Total:!!Hispanic or Latino:!!Asian a...,Estimate!!Total:!!Hispanic or Latino:!!Native ...,Estimate!!Total:!!Hispanic or Latino:!!Some ot...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...,Estimate!!Total:!!Hispanic or Latino:!!Two or ...
1,Census Tract 101.01; San Francisco County; Cal...,2004,1668,770,132,52,608,0,47,59,...,336,65,0,15,0,46,102,108,64,44
2,Census Tract 101.02; San Francisco County; Cal...,1795,1702,554,322,0,766,16,0,44,...,93,8,0,0,0,0,76,9,9,0

In [10]:
# remove the first row
df = df.drop(df.index[0])  
df = df.reset_index(drop=True)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Not Hispanic or Latino:,Estimate!!Total:!!Not Hispanic or Latino:!!White alone,Estimate!!Total:!!Not Hispanic or Latino:!!Black or African American alone,Estimate!!Total:!!Not Hispanic or Latino:!!American Indian and Alaska Native alone,Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone,Estimate!!Total:!!Not Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total:!!Not Hispanic or Latino:!!Some other race alone,Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:,...,Estimate!!Total:!!Hispanic or Latino:,Estimate!!Total:!!Hispanic or Latino:!!White alone,Estimate!!Total:!!Hispanic or Latino:!!Black or African American alone,Estimate!!Total:!!Hispanic or Latino:!!American Indian and Alaska Native alone,Estimate!!Total:!!Hispanic or Latino:!!Asian alone,Estimate!!Total:!!Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total:!!Hispanic or Latino:!!Some other race alone,Estimate!!Total:!!Hispanic or Latino:!!Two or more races:,Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races including Some other race,"Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races"
0,Census Tract 101.01; San Francisco County; Cal...,2004,1668,770,132,52,608,0,47,59,...,336,65,0,15,0,46,102,108,64,44
1,Census Tract 101.02; San Francisco County; Cal...,1795,1702,554,322,0,766,16,0,44,...,93,8,0,0,0,0,76,9,9,0
2,Census Tract 102.01; San Francisco County; Cal...,2608,2297,1762,134,0,206,0,0,195,...,311,31,0,0,0,0,18,262,205,57

In [11]:
# change Geographic Area Name to Area
df = df.rename(columns={'Geographic Area Name': 'Area'})

In [12]:
# rename columns
df = df.rename(columns={
    'Estimate!!Total:': 'Citywide',
    'Estimate!!Total:!!Not Hispanic or Latino:': 'Citywide Non-Hispanic or Latino',
    'Estimate!!Total:!!Not Hispanic or Latino:!!White alone': 'White',
    'Estimate!!Total:!!Not Hispanic or Latino:!!Black or African American alone': 'Black',
    'Estimate!!Total:!!Not Hispanic or Latino:!!American Indian and Alaska Native alone': 'Other1',
    'Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone': 'Asian',
    'Estimate!!Total:!!Not Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone': 'Other2',
    'Estimate!!Total:!!Not Hispanic or Latino:!!Some other race alone': 'Other3',
    'Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:': 'Other4',
    'Estimate!!Total:!!Hispanic or Latino:': 'Hispanic or Latino'})
# only keep the columns we want
df = df[['Area', 'Citywide', 'Citywide Non-Hispanic or Latino', 'White', 'Black', 'Other1', 'Asian', 'Other2', 'Other3', 'Other4', 'Hispanic or Latino']]
df.head(3)

,Area,Citywide,Citywide Non-Hispanic or Latino,White,Black,Other1,Asian,Other2,Other3,Other4,Hispanic or Latino
0,Census Tract 101.01; San Francisco County; Cal...,2004,1668,770,132,52,608,0,47,59,336
1,Census Tract 101.02; San Francisco County; Cal...,1795,1702,554,322,0,766,16,0,44,93
2,Census Tract 102.01; San Francisco County; Cal...,2608,2297,1762,134,0,206,0,0,195,311

In [13]:
# convert to numeric and sum in one step
df['Other'] = df[['Other1', 'Other2', 'Other3', 'Other4']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df.head(3)

,Area,Citywide,Citywide Non-Hispanic or Latino,White,Black,Other1,Asian,Other2,Other3,Other4,Hispanic or Latino,Other
0,Census Tract 101.01; San Francisco County; Cal...,2004,1668,770,132,52,608,0,47,59,336,158
1,Census Tract 101.02; San Francisco County; Cal...,1795,1702,554,322,0,766,16,0,44,93,60
2,Census Tract 102.01; San Francisco County; Cal...,2608,2297,1762,134,0,206,0,0,195,311,195

In [14]:
# only keep the columns we want
df = df[['Area', 'Citywide', 'White', 'Black', 'Asian', 'Hispanic or Latino', 'Other']]
df.head(3)

,Area,Citywide,White,Black,Asian,Hispanic or Latino,Other
0,Census Tract 101.01; San Francisco County; Cal...,2004,770,132,608,336,158
1,Census Tract 101.02; San Francisco County; Cal...,1795,554,322,766,93,60
2,Census Tract 102.01; San Francisco County; Cal...,2608,1762,134,206,311,195

In [15]:
# only keep numbers for the area column
df['Area'] = df['Area'].str.replace(r'.*Census Tract\s+', '', regex=True)  # remove everything before tract number
df['Area'] = df['Area'].str.replace(r';.*', '', regex=True)  # remove everything after semicolon
df['Area'] = df['Area'].str.strip()  # remove any extra whitespace
df

        Area Citywide White Black Asian Hispanic or Latino  Other
0     101.01     2004   770   132   608                336    158
1     101.02     1795   554   322   766                 93     60
2     102.01     2608  1762   134   206                311    195
3     102.02     1761  1179    58   284                 55    185
4        103     3791  2258     0   949                453    131
..       ...      ...   ...   ...   ...                ...    ...
239  9805.01      155     0     0   155                  0      0
240     9806     1290   242   288   463                194    103
241     9809      322    32    27   214                 20     29
242     9901        0     0     0     0                  0      0
243     9902        0     0     0     0                  0      0

[244 rows x 7 columns]

In [ ]:
# convert numeric columns to proper data types
numeric_columns = ['Citywide', 'White', 'Black', 'Asian', 'Hispanic or Latino', 'Other']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'white': df.set_index('Area')['White'].to_dict(),
    'asian': df.set_index('Area')['Asian'].to_dict(), 
    'hispanic': df.set_index('Area')['Hispanic or Latino'].to_dict(),
    'black': df.set_index('Area')['Black'].to_dict(),
    'other': df.set_index('Area')['Other'].to_dict(),
    'total': df.set_index('Area')['Citywide'].to_dict()
}

# convert to JSON and save to file
import json

with open('/Users/agneslu/Desktop/neighborhood-data/data-new/race.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'race.json'")

JSON file saved as 'race_2023.json'