In [1]:
import pandas as pd

In [2]:
# import crime data
df = pd.read_csv('./crime-2025.csv')

In [3]:
# initial look
df.head(3)

,Row ID,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Incident ID,Incident Number,CAD Number,...,CNN,Police District,Analysis Neighborhood,Supervisor District,Supervisor District 2012,Latitude,Longitude,Point,data_as_of,data_loaded_at
0,151187519022,2025/01/01 12:00:00 AM,2025/01/01,00:00,2025,Wednesday,2025/09/15 11:02:00 AM,1511875,250518633,252581289.0,...,26586000.0,Northern,Western Addition,5.0,5.0,37.782349,-122.432518,POINT (-122.432518005 37.782348633),2025/09/16 09:36:50 AM,2025/09/17 09:52:57 AM
1,151187564011,2025/01/01 12:00:00 AM,2025/01/01,00:00,2025,Wednesday,2025/09/15 11:02:00 AM,1511875,250518633,252581289.0,...,26586000.0,Northern,Western Addition,5.0,5.0,37.782349,-122.432518,POINT (-122.432518005 37.782348633),2025/09/16 09:36:50 AM,2025/09/17 09:52:57 AM
2,151226575030,2025/01/01 12:00:00 AM,2025/01/01,00:00,2025,Wednesday,2025/09/17 12:00:00 AM,1512265,250453879,NaN,...,33033000.0,Mission,Mission,9.0,9.0,37.768673,-122.413399,POINT (-122.413398743 37.768672943),2025/09/18 09:36:39 AM,2025/09/19 09:55:14 AM

In [4]:
# print all columns names
print(df.columns.tolist())

['Row ID', 'Incident Datetime', 'Incident Date', 'Incident Time', 'Incident Year', 'Incident Day of Week', 'Report Datetime', 'Incident ID', 'Incident Number', 'CAD Number', 'Report Type Code', 'Report Type Description', 'Filed Online', 'Incident Code', 'Incident Category', 'Incident Subcategory', 'Incident Description', 'Resolution', 'Intersection', 'CNN', 'Police District', 'Analysis Neighborhood', 'Supervisor District', 'Supervisor District 2012', 'Latitude', 'Longitude', 'Point', 'data_as_of', 'data_loaded_at']

In [5]:
# get shape of the dataframe
print(df.shape)

(93995, 29)

In [6]:
# drop the rows where the Latitude or Longitude is NaN
df = df.dropna(subset=['Latitude', 'Longitude'])
print(df.shape)

(89649, 29)

In [7]:
df.head(3)

,Row ID,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Incident ID,Incident Number,CAD Number,...,CNN,Police District,Analysis Neighborhood,Supervisor District,Supervisor District 2012,Latitude,Longitude,Point,data_as_of,data_loaded_at
0,151187519022,2025/01/01 12:00:00 AM,2025/01/01,00:00,2025,Wednesday,2025/09/15 11:02:00 AM,1511875,250518633,252581289.0,...,26586000.0,Northern,Western Addition,5.0,5.0,37.782349,-122.432518,POINT (-122.432518005 37.782348633),2025/09/16 09:36:50 AM,2025/09/17 09:52:57 AM
1,151187564011,2025/01/01 12:00:00 AM,2025/01/01,00:00,2025,Wednesday,2025/09/15 11:02:00 AM,1511875,250518633,252581289.0,...,26586000.0,Northern,Western Addition,5.0,5.0,37.782349,-122.432518,POINT (-122.432518005 37.782348633),2025/09/16 09:36:50 AM,2025/09/17 09:52:57 AM
2,151226575030,2025/01/01 12:00:00 AM,2025/01/01,00:00,2025,Wednesday,2025/09/17 12:00:00 AM,1512265,250453879,NaN,...,33033000.0,Mission,Mission,9.0,9.0,37.768673,-122.413399,POINT (-122.413398743 37.768672943),2025/09/18 09:36:39 AM,2025/09/19 09:55:14 AM

In [8]:
# get a list of the unique Incident Category
incident_categories = df['Incident Category'].unique()
print(incident_categories)

['Disorderly Conduct' 'Non-Criminal' 'Case Closure' 'Robbery' 'Fraud'
 'Motor Vehicle Theft' 'Malicious Mischief' 'Forgery And Counterfeiting'
 'Miscellaneous Investigation' 'Offences Against The Family And Children'
 'Missing Person' 'Weapons Offense' 'Larceny Theft' 'Lost Property'
 'Other Offenses' 'Assault' 'Recovered Vehicle' 'Weapons Carrying Etc'
 'Other Miscellaneous' 'Burglary' 'Warrant' 'Drug Offense' 'Arson'
 'Courtesy Report' 'Suspicious Occ' 'Other' 'Gambling'
 'Traffic Violation Arrest' 'Vehicle Impounded' 'Traffic Collision'
 'Vandalism' 'Drug Violation' 'Stolen Property' nan 'Homicide'
 'Embezzlement' 'Vehicle Misplaced' 'Sex Offense' 'Fire Report' 'Suicide'
 'Rape' 'Suspicious' 'Prostitution' 'Motor Vehicle Theft?' 'Liquor Laws'
 'Human Trafficking, Commercial Sex Acts' 'Civil Sidewalks'
 'Weapons Offence' 'Human Trafficking (A), Commercial Sex Acts']

I only want: Assault, Burglary, Larceny, Motor vehicle theft, Robbery.

In [9]:
# define the categories to keep and consolidate
assault_cats = ['Assault']
burglary_cats = ['Burglary']
larceny_cats = ['Larceny Theft', 'Embezzlement', 'Stolen Property']
mv_theft_cats = ['Motor Vehicle Theft', 'Motor Vehicle Theft?']
robbery_cats = ['Robbery']

In [10]:
# create a list of all categories to keep
keep_categories = assault_cats + burglary_cats + larceny_cats + mv_theft_cats + robbery_cats

In [11]:
# filter your dataframe
filtered_df = df[df['Incident Category'].isin(keep_categories)].copy()

In [12]:
# create a new consolidated category column
def consolidate_category(category):
    if category in assault_cats:
        return 'Assault'
    elif category in burglary_cats:
        return 'Burglary'
    elif category in larceny_cats:
        return 'Larceny'
    elif category in mv_theft_cats:
        return 'Motor Vehicle Theft'
    elif category in robbery_cats:
        return 'Robbery'
    else:
        return category

filtered_df['Consolidated Category'] = filtered_df['Incident Category'].apply(consolidate_category)

In [13]:
# check the results
filtered_df['Consolidated Category'].value_counts()

Larceny                19003
Assault                 7177
Burglary                4472
Motor Vehicle Theft     4070
Robbery                 1839
Name: Consolidated Category, dtype: int64

In [14]:
filtered_df.head(3)

,Row ID,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Incident ID,Incident Number,CAD Number,...,Police District,Analysis Neighborhood,Supervisor District,Supervisor District 2012,Latitude,Longitude,Point,data_as_of,data_loaded_at,Consolidated Category
3,151226503401,2025/01/01 12:00:00 AM,2025/01/01,00:00,2025,Wednesday,2025/09/17 12:00:00 AM,1512265,250453879,NaN,...,Mission,Mission,9.0,9.0,37.768673,-122.413399,POINT (-122.413398743 37.768672943),2025/09/18 09:36:39 AM,2025/09/19 09:55:14 AM,Robbery
5,151652107026,2025/01/01 08:00:00 PM,2025/01/01,20:00,2025,Wednesday,2025/10/04 09:06:00 AM,1516521,250558736,252770881.0,...,Southern,Hayes Valley,5.0,5.0,37.776367,-122.419510,POINT (-122.419509888 37.776367188),2025/10/05 09:35:21 AM,2025/10/06 09:56:49 AM,Motor Vehicle Theft
18,153673706243,2025/01/01 06:00:00 PM,2025/01/01,18:00,2025,Wednesday,2026/01/02 01:32:00 PM,1536737,260002739,260021707.0,...,Richmond,Lone Mountain/USF,2.0,1.0,37.782177,-122.449051,POINT (-122.449050903 37.782176971),2026/01/03 09:36:05 AM,2026/01/04 09:56:27 AM,Larceny

In [15]:
# only keep the columns we need
filtered_df = filtered_df[['Incident ID', 'Consolidated Category', 'Latitude', 'Longitude']]
filtered_df.head(3)

    Incident ID Consolidated Category   Latitude   Longitude
3       1512265               Robbery  37.768673 -122.413399
5       1516521   Motor Vehicle Theft  37.776367 -122.419510
18      1536737               Larceny  37.782177 -122.449051

In [16]:
import geopandas as gpd
from shapely.geometry import Point

In [17]:
# create GeoDataFrame from your incident coordinates
geometry = [Point(xy) for xy in zip(filtered_df['Longitude'], filtered_df['Latitude'])]
gdf_incidents = gpd.GeoDataFrame(filtered_df, geometry=geometry, crs='EPSG:4326')

In [18]:
# load census tract GeoJSON
census_tracts = gpd.read_file('../../data/basemap.geojson')

In [19]:
# spatial join to get tract info for each incident
df_new = gpd.sjoin(gdf_incidents, census_tracts, 
                                  how='left', predicate='within')

In [20]:
df_new.head(3)

,Incident ID,Consolidated Category,Latitude,Longitude,geometry,index_right,name,tract
3,1512265,Robbery,37.768673,-122.413399,POINT (-122.41340 37.76867),162.0,177,017700
5,1516521,Motor Vehicle Theft,37.776367,-122.419510,POINT (-122.41951 37.77637),168.0,124.05,012405
18,1536737,Larceny,37.782177,-122.449051,POINT (-122.44905 37.78218),27.0,157.01,015701

In [21]:
# only keep columns we need
df_new = df_new[['Consolidated Category', 'name']]

In [22]:
# rename the columns
df_new = df_new.rename(columns={'Consolidated Category': 'Category', 'name': 'Area'})
df_new.head(3)

               Category    Area
3               Robbery     177
5   Motor Vehicle Theft  124.05
18              Larceny  157.01

In [23]:
# reset the index
df_new = df_new.reset_index(drop=True)

In [24]:
# get shape of the final dataframe
print(df_new.shape)

(36561, 2)

In [25]:
# count the number of incidents by category and area
df_count = df_new.groupby(['Area', 'Category']).size().reset_index(name='Count')
df_count.head(3)

     Area  Category  Count
0  101.01   Assault     48
1  101.01  Burglary     22
2  101.01   Larceny    252

In [26]:
# change the columns to area and , and the values to the count of each category
df_pivot = df_count.pivot(index='Area', columns='Category', values='Count').fillna(0).reset_index()
# drop Category
df_pivot = df_pivot.rename_axis(None, axis=1)
# reset index
df_pivot = df_pivot.reset_index(drop=True)
df_pivot.head()

     Area  Assault  Burglary  Larceny  Motor Vehicle Theft  Robbery
0  101.01     48.0      22.0    252.0                 22.0     15.0
1  101.02     11.0       8.0     47.0                  6.0      5.0
2  102.01      3.0      12.0     35.0                  9.0      1.0
3  102.02     19.0       5.0     94.0                 10.0      4.0
4     103      8.0      15.0     75.0                 10.0      0.0

In [27]:
# keep as integers
df_pivot['Assault'] = df_pivot['Assault'].astype(int)
df_pivot['Burglary'] = df_pivot['Burglary'].astype(int)
df_pivot['Larceny'] = df_pivot['Larceny'].astype(int)   
df_pivot['Motor Vehicle Theft'] = df_pivot['Motor Vehicle Theft'].astype(int)
df_pivot['Robbery'] = df_pivot['Robbery'].astype(int)
df_pivot.head()

     Area  Assault  Burglary  Larceny  Motor Vehicle Theft  Robbery
0  101.01       48        22      252                   22       15
1  101.02       11         8       47                    6        5
2  102.01        3        12       35                    9        1
3  102.02       19         5       94                   10        4
4     103        8        15       75                   10        0

In [28]:
# convert numeric columns to proper data types
numeric_columns = ['Assault', 'Burglary', 'Larceny', 'Motor Vehicle Theft', 'Robbery']
df_pivot[numeric_columns] = df_pivot[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'assault': df_pivot.set_index('Area')['Assault'].to_dict(),
    'burglary': df_pivot.set_index('Area')['Burglary'].to_dict(),
    'larceny': df_pivot.set_index('Area')['Larceny'].to_dict(),
    'motor vehicle theft': df_pivot.set_index('Area')['Motor Vehicle Theft'].to_dict(),
    'robbery': df_pivot.set_index('Area')['Robbery'].to_dict()
}

# convert to JSON and save to file
import json

with open('./just-crime.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'just-crime.json'")

JSON file saved as 'just-crime.json'

In [29]:
import json
import pandas as pd

# load files
with open('just-crime.json', 'r') as f:
    crime_data = json.load(f)
with open('population.json', 'r') as f:
    population_data = json.load(f)

# create final DataFrame
crime_areas = set().union(*[crime_data[ct].keys() for ct in crime_data])
population_areas = set(population_data['value'].keys())
common_areas = crime_areas.intersection(population_areas)

result_data = []
for area in common_areas:
    row = {'Area': area}
    for crime_type in crime_data:
        row[crime_type.title()] = crime_data[crime_type].get(area, 0)
    row['Total Population'] = population_data['value'][area]
    result_data.append(row)

df_final = pd.DataFrame(result_data).sort_values('Area').reset_index(drop=True)

In [30]:
df_final

,Area,Assault,Burglary,Larceny,Motor Vehicle Theft,Robbery,Total Population
0,101.01,48,22,252,22,15,2004
1,101.02,11,8,47,6,5,1795
2,102.01,3,12,35,9,1,2608
3,102.02,19,5,94,10,4,1761
4,103,8,15,75,10,0,3791
...,...,...,...,...,...,...,...
236,9802,0,0,10,0,0,179
237,9803,40,31,182,38,8,49
238,9805.01,18,0,11,10,6,155
239,9806,16,11,21,22,1,1290
240,9809,122,59,222,73,37,322

In [31]:
# convert numeric columns to proper data types
numeric_columns = ['Assault', 'Burglary', 'Larceny', 'Motor Vehicle Theft', 'Robbery', 'Total Population']
df_final[numeric_columns] = df_final[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'assault': df_final.set_index('Area')['Assault'].to_dict(),
    'burglary': df_final.set_index('Area')['Burglary'].to_dict(),
    'larceny': df_final.set_index('Area')['Larceny'].to_dict(),
    'motor vehicle theft': df_final.set_index('Area')['Motor Vehicle Theft'].to_dict(),
    'robbery': df_final.set_index('Area')['Robbery'].to_dict(),
    'population': df_final.set_index('Area')['Total Population'].to_dict()
}

# convert to JSON and save to file
import json

with open('../../data/crime.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'crime.json'")

JSON file saved as 'crime.json'